In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../_datasets/housing.csv")

In [4]:
data.head()

  0.00632 18.00 2.310 0 0.5380 6.5750 65.20 4.0900 1 296.0 15.30 396.90 4.98 24.00
0  0.02731 0.00 7.070 0 0.4690 6.4210 78.90 4.967...
1  0.02729 0.00 7.070 0 0.4690 7.1850 61.10 4.967...
2  0.03237 0.00 2.180 0 0.4580 6.9980 45.80 6.062...
3  0.06905 0.00 2.180 0 0.4580 7.1470 54.20 6.062...
4  0.02985 0.00 2.180 0 0.4580 6.4300 58.70 6.062...

In [5]:
from sklearn.model_selection import cross_val_score

In [6]:
regressor = linear_model.LinearRegression()

In [ ]:
cross_val_score()